body{
    display: flex; 
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#Layout {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    align-items: center;
    justify-content: center;
    padding: 20px; 
    box-sizing: border-box; 
    border: 1px solid black; 
    height: 400px; 
    width: 300px; 
    justify-content: space-between;
}



