body{
    display: flex; 
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
html{
    background-color: antiquewhite;
}
#Layout {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    align-items: center;
    padding: 20px; 
    box-sizing: border-box; 
    border: 1px solid black; 
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; 
}

#Time, #Principal, #freq, #Interest,#Output{
    display: flex;
    flex-direction: column;
}



